.main{
    display: flex;
    /* flex-direction:column-reverse ; */
    justify-content:end;
    justify-content: space-evenly;
    
}
.card1{
    height: 200px;
    width:200px;
    background-color: red;
}
.card3{
    height: 200px;
    width:200px;
    background-color: yellow;
}
.card2{
    height: 200px;
    width:200px;
    background-color: yellowgreen;
}