.main{
    display: flex;
    /* flex-direction:column-reverse ; */
   
    justify-content: space-evenly;
    border: 2px solid black;
    align-items: last baseline;

    

    
}
.card1{
    height: 20px;
    width:200px;
    background-color: red;
}
.card3{
    height: 500px;
    width:200px;
    background-color: yellow;
}
.card2{
    height: 200px;
    width:200px;
    background-color: yellowgreen;
}